In [1]:
from datetime import datetime
from moon_phase import *

In [2]:
recent_phases()

                 lunation                         datetime
1  Previous First Quarter 2024-10-10 10:55:04.685959-08:00
2           Previous Full 2024-10-17 03:26:21.318670-08:00
3   Previous Last Quarter 2024-10-24 00:03:01.238569-08:00
0            Previous New 2024-11-01 04:47:06.158999-08:00

In [3]:
upcoming_phases()

             lunation                         datetime
1  Next First Quarter 2024-11-08 21:55:24.594894-08:00
2           Next Full 2024-11-15 13:28:28.524906-08:00
3   Next Last Quarter 2024-11-22 17:27:52.150264-08:00
0            Next New 2024-11-30 22:21:22.862089-08:00

In [4]:
next_phase()

('First Quarter', Timestamp('2024-11-08 21:55:24.594909-0800', tz='PST'))

In [5]:
get_phase()

'Waxing Crescent'

In [6]:
next_phase()

('First Quarter', Timestamp('2024-11-08 21:55:24.594916-0800', tz='PST'))

In [7]:
get_moon_phase_emoji()

'üåí'

In [8]:
full_moons_in_month()

[datetime.datetime(2024, 11, 15, 13, 28, 28, 524903, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600), 'PST'))]

In [9]:
get_moon_name()

'Beaver Moon'

In [10]:
get_moon_sign()

'Capricorn'

In [11]:
get_sun_sign()

'Scorpio'

In [12]:
get_moon_name_emoji()

'ü¶´'

In [13]:
get_moon_status()

'ü¶´üåí‚ôëÔ∏è Waxing Crescent Beaver Moon in Capricorn'

In [14]:
get_sun_status()

'üåû‚ôèÔ∏è Sun in Scorpio'

In [15]:
get_hebrew_date_string()

'4 Cheshvan 5785'

In [16]:
get_roman_date_string()

'5 November 2024'

In [17]:
print(get_status())

üåû‚ôèÔ∏è Sun in Scorpio
5 November 2024
ü¶´üåí‚ôëÔ∏è Waxing Crescent Beaver Moon in Capricorn
4 Cheshvan 5785
‚òøÔ∏è‚ôêÔ∏è Mercury in Sagittarius
‚ôÄÔ∏è‚ôêÔ∏è Venus in Sagittarius
‚ôÇÔ∏è‚ôåÔ∏è Mars in Leo
‚ôÉ‚ôäÔ∏è Jupiter Retrograde in Gemini
‚ôÑ‚ôìÔ∏è Saturn Retrograde in Pisces

In [18]:
print(get_status("1983-04-11 09:12"))

üåû‚ôàÔ∏è Sun in Aries
11 April 1983
üå∏üåò‚ôàÔ∏è Waning Crescent Pink Moon in Aries
28 Nissan 5743
‚òøÔ∏è‚ôâÔ∏è Mercury in Taurus
‚ôÄÔ∏è‚ôâÔ∏è Venus in Taurus
‚ôÇÔ∏è‚ôâÔ∏è Mars in Taurus
‚ôÉ‚ôêÔ∏è Jupiter Retrograde in Sagittarius
‚ôÑ‚ôèÔ∏è Saturn Retrograde in Scorpio