In [1]:
from moon_phase import *

In [2]:
recent_phases()

                 lunation                         datetime
1  Previous First Quarter 2024-10-10 10:55:04.685964-08:00
2           Previous Full 2024-10-17 03:26:21.318684-08:00
3   Previous Last Quarter 2024-10-24 00:03:01.238585-08:00
0            Previous New 2024-11-01 04:47:06.158991-08:00

In [3]:
upcoming_phases()

             lunation                         datetime
1  Next First Quarter 2024-11-08 21:55:24.594909-08:00
2           Next Full 2024-11-15 13:28:28.524900-08:00
3   Next Last Quarter 2024-11-22 17:27:52.150300-08:00
0            Next New 2024-11-30 22:21:22.862069-08:00

In [4]:
next_phase()

('First Quarter', Timestamp('2024-11-08 21:55:24.594879-0800', tz='PST'))

In [5]:
get_phase()

'Waxing Crescent'

In [6]:
next_phase()

('First Quarter', Timestamp('2024-11-08 21:55:24.594885-0800', tz='PST'))

In [7]:
get_emoji()

'ðŸŒ’'

In [10]:
import ephem
from datetime import datetime, timedelta, timezone

def full_moons_in_month(year: Optional[int] = None, month: Optional[int] = None, tz: Optional[timezone] = None) -> list[datetime]:
    """
    Calculates the dates of all full moons occurring in a given month and year.
    Defaults to the current month and year in the local timezone.

    Args:
        year: The year. Defaults to the current year.
        month: The month (1-12). Defaults to the current month.
        tz: The timezone for the output dates. If None (default), 
            it uses the local timezone.

    Returns:
        A list of datetime objects representing the full moons in the specified month.
    """

    if year is None:
        year = datetime.now().year
    if month is None:
        month = datetime.now().month
    if tz is None:
        tz = datetime.now(timezone.utc).astimezone().tzinfo  # Get local timezone

    # Start with the first day of the month
    dt = datetime(year, month, 1, tzinfo=tz) 
    dt = ephem.Date(dt)

    full_moons = []

    full_moon_date = ephem.next_full_moon(dt).datetime().replace(tzinfo=timezone.utc).astimezone(tz)
    full_moons.append(full_moon_date)

    next_full_moon_date = ephem.next_full_moon(ephem.Date(full_moon_date + timedelta(days=1))).datetime().replace(tzinfo=timezone.utc).astimezone(tz)
    
    if next_full_moon_date.month == month:
        full_moons.append(next_full_moon_date)
        
    return full_moons

In [11]:
full_moons_in_month()

[datetime.datetime(2024, 11, 15, 13, 28, 28, 524903, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=57600), 'PST'))]